---
name: Test linting using the Graylint GitHub Action

on: push  # yamllint disable-line rule:truthy

jobs:
  graylint-github-action-linting-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run Graylint's own GitHub action straight from the repository
        uses: ./
        with:
          options: --color --config pyproject.toml
          src: src/graylint
          revision: origin/main...
          lint: flake8
          version: "@${{ github.ref_name }}"
